a {
  color: #eb0c00 !important;
}
// header
.ant-spin-dot-item{
  background-color: #ffffff !important;
}
.ant-drawer-body {
	padding: 0px !important;
}


.search-bar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
	z-index: 1030;
	background: #fff;
	padding: 12px;
	.close {
		position: absolute;
		top: 9px;
		right: 9px;
		padding: 8px 16px;
	}
}
.pcoded-header {
	z-index: 1029;
	position: relative;
	display: flex;
	min-height: 50px;
	padding: 0;
	top: 0;
	background: #fff;
	color: rgba(16, 27, 51, 0.8);
	width: 100%;
	transition: all 0.3s ease-in-out;
	.m-header {
		width: 230px;
		position: relative;
		height: 50px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0 25px;
		.logo-dark {
			display: none;
		}
		.logo-thumb {
			display: none;
		}
	}
	.input-group {
		background: transparent;
		.input-group-text {
			margin-right: 0;
			color: rgba(16, 27, 51, 0.8);
			&:hover {
				color: #101b33;
			}
		}
	}
	a {
		color: rgba(16, 27, 51, 0.8);
		&:hover {
			color: #101b33;
		}
	}
	dropdown-toggle {
		color: rgba(16, 27, 51, 0.8);
		&:hover {
			color: #101b33;
		}
	}
	#mobile-header {
		display: none;
	}
	.navbar-nav {
		padding-left: 0;
		list-style: none;
		margin-bottom: 0;
		display: inline-flex;
		flex-direction: row;
		>li {
			line-height: 50px;
			display: inline-block;
			.nav-link {
				padding: 0;
			}
			&:first-child {
				padding-left: 25px;
			}
			&:last-child {
				padding-right: 25px;
			}
		}
		.dropdown {
			height: 50px;
		}
	}
	.mr-auto {
		.dropdown-menu {
			margin-left: -20px;
		}
	}
	.ml-auto {
		float: right;
		height: 50px;
		.dropdown-menu {
			margin-right: -20px;
		}
	}
	.main-search {
		.input-group {
			border-radius: 3px;
			padding: 0;
			.form-control {
				background: transparent;
				border: none;
				border-radius: 0;
				padding: 0;
				height: auto;
				transition: all 0.3s ease-in-out;
				font-size: 14px;
				&:active {
					outline: none;
					box-shadow: none;
				}
				&:focus {
					outline: none;
					box-shadow: none;
				}
				&:hover {
					outline: none;
					box-shadow: none;
				}
			}
			.input-group-text {
				background: transparent;
				border: none;
				border-radius: 0;
				padding: 0;
				height: auto;
			}
			.search-close {
				display: none;
			}
			.search-btn {
				padding: 0;
				background: transparent;
				border-color: transparent;
				box-shadow: none;
				margin-bottom: 0;
				margin-right: 0;
				&:active {
					outline: none;
					box-shadow: none;
				}
				&:focus {
					outline: none;
					box-shadow: none;
				}
				&:hover {
					outline: none;
					box-shadow: none;
				}
			}
		}
	}
	.main-search.open {
		.input-group {
			background: #ecf0f5;
			border: 0 solid #ecf0f5;
			padding: 0 0 0 20px;
			.search-close {
				display: flex;
			}
			.search-btn {
				padding: 6px 9px;
				margin-left: 5px;
				color: #fff;
				background: #eb0c00;
				border-color: #eb0c00;
				.input-group-text {
					color: #fff;
				}
				&:active {
					outline: none;
					box-shadow: none;
				}
				&:focus {
					outline: none;
					box-shadow: none;
				}
				&:hover {
					outline: none;
					box-shadow: none;
				}
			}
			.form-control {
				transition: all 0.3s ease-in-out;
				&:active {
					outline: none;
					box-shadow: none;
				}
				&:focus {
					outline: none;
					box-shadow: none;
				}
				&:hover {
					outline: none;
					box-shadow: none;
				}
			}
		}
	}
	.dropdown {
		.dropdown-toggle {
			line-height: 50px;
			display: inline-block;
			text-align: center;
			width: 40px;
			&:after {
				display: none;
			}
		}
		.dropdown-menu {
			position: absolute;
			min-width: 250px;
			li {
				line-height: 1.2;
				a {
					padding: 10px;
					font-size: 14px;
				}
				&:active {
					a {
						color: #373a3c;
					}
				}
				&:focus {
					a {
						color: #373a3c;
					}
				}
				&:hover {
					a {
						color: #373a3c;
					}
				}
			}
			li.active {
				a {
					color: #373a3c;
				}
			}
		}
		.notification {
			width: 350px;
			padding: 0;
			line-height: 1.4;
			overflow: hidden;
			a {
				color: #373a3c;
				&:hover {
					color: #37474f;
				}
			}
			.noti-head {
				background: #101b33;
				padding: 15px 20px;
				h6 {
					color: #fff;
				}
				a {
					color: #fff;
					text-decoration: underline;
					font-size: 13px;
				}
			}
			.noti-body {
				padding: 0;
				position: relative;
				height: 300px;
				img {
					width: 40px;
					margin-right: 20px;
				}
				li {
					padding: 15px 20px;
					transition: all 0.3s ease-in-out;
					p {
						margin-bottom: 5px;
						font-size: 13px;
						strong {
							color: #222;
						}
					}
					.n-time {
						font-size: 80%;
						float: right;
					}
				}
				li.n-title {
					padding-bottom: 0;
					p {
						margin-bottom: 5px;
					}
				}
				li.notification {
					&:hover {
						background: rgba(70, 128, 255, 0.1);
					}
				}
			}
			.noti-footer {
				border-top: 1px solid #f1f1f1;
				padding: 15px 20px;
				text-align: center;
				background: #ecf0f5;
				a {
					text-decoration: underline;
					font-size: 13px;
				}
			}
			ul {
				padding-left: 0;
				margin-bottom: 0;
				list-style: none;
				li {
					padding: 20px 15px;
				}
			}
		}
		.profile-notification {
			padding: 0;
			line-height: 1.4;
			overflow: hidden;
			.pro-head {
				color: #fff;
				padding: 15px;
				position: relative;
				background: #101b33;
				img {
					width: 40px;
					margin-right: 10px;
				}
				.dud-logout {
					color: #fff;
					padding-right: 0;
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					width: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			.pro-body {
				padding: 20px 0;
				margin-bottom: 0;
				list-style: none;
				li {
					margin: 0 10px;
					border-radius: 2px;
					a {
						color: #373a3c;
						font-size: 14px;
						padding: 10px;
						i {
							margin-right: 10px;
						}
					}
					&:active {
						background: #eb0c00;
						box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.25);
						>a {
							color: #fff;
							background: transparent;
						}
					}
					&:focus {
						background: #eb0c00;
						box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.25);
						>a {
							color: #fff;
							background: transparent;
						}
					}
					&:hover {
						background: #eb0c00;
						box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.25);
						>a {
							color: #fff;
							background: transparent;
						}
					}
				}
				li.active {
					background: #eb0c00;
					box-shadow: 0 15px 8px -9px rgba(0, 0, 0, 0.25);
					>a {
						color: #fff;
						background: transparent;
					}
				}
			}
		}
	}
}



/**  =====================
      Authentication css start
==========================  **/

.auth-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	min-width: 100%;
	min-height: 100vh;
	background: #eb0c00;
	.saprator {
		position: relative;
		margin: 8px 0;
		span {
			background: #fff;
			position: relative;
			padding: 0 10px;
			z-index: 5;
			font-size: 20px;
		}
		&:after {
			content: "";
			position: absolute;
			top: 15px;
			left: 0;
			width: 100%;
			height: 1px;
			background: #e2e5e8;
			z-index: 1;
		}
	}
	a {
		color: #37474f;
		font-weight: 600;
	}
	p {
		>a {
			color: #37474f;
			font-weight: 600;
		}
	}
	.input-group {
		background: transparent;
	}
	.card {
		margin-bottom: 0;
		padding: 8px;
		.card-body {
			padding: 20px 25px 20px 40px;
		}
	}
	>div {
		z-index: 5;
	}
	.auth-content {
		position: relative;
		padding: 15px;
		z-index: 5;
		&:not(.container) {
			width: 400px;
			.card-body {
				padding: 40px 35px;
			}
		}
	}
	.auth-side-img {
		padding-right: 400px;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		justify-content: center;
	}
	.auth-side-form {
		position: relative;
		min-height: 100%;
		background: #fff;
		display: inline-flex;
		align-items: center;
		left: auto;
		float: right;
		>* {
			position: relative;
			z-index: 5;
		}
	}
	.card-body {
		.carousel-indicators {
			margin: 15px 0 10px;
			bottom: 0;
			li {
				width: 50px;
				background-color: rgba(70, 128, 255, 0.4);
				border-radius: 5px;
				height: 4px;
			}
			li.active {
				background-color: #eb0c00;
			}
		}
	}
	.img-logo-overlay {
		position: absolute;
		top: 40px;
		left: 50px;
	}
}
.auth-wrapper.offline {
	background-image: none;
	h1 {
		font-size: 87px;
		font-weight: 700;
	}
	&:before {
		display: none;
	}
}
.aut-bg-img {
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	.auth-content {
		padding: 70px 40px;
	}
}
@media (min-width: 1200px) {
	.auth-wrapper {
		.container {
			max-width: 1140px;
		}
	}
}
@media (-ms-high-contrast: none) {
	.auth-wrapper {
		display: block;
		margin: 0 auto;
		>.row {
			min-height: 100vh;
			>.aut-bg-img {
				min-height: 100vh;
			}
		}
		.card {
			display: block;
		}
		.auth-content {
			margin: 0 auto;
		}
	}
	.auth-wrapper.aut-bg-img {
		.auth-side-form {
			height: 100vh;
		}
	}
}
@media (-ms-high-contrast: active) {
	.auth-wrapper {
		display: block;
		margin: 0 auto;
		>.row {
			min-height: 100vh;
			>.aut-bg-img {
				min-height: 100vh;
			}
		}
		.card {
			display: block;
		}
		.auth-content {
			margin: 0 auto;
		}
	}
	.auth-wrapper.aut-bg-img {
		.auth-side-form {
			height: 100vh;
		}
	}
}
@media only screen and (max-width: 991px) {
	.auth-wrapper {
		.auth-side-img {
			display: none;
		}
		.auth-side-form {
			width: 100%;
			justify-content: center;
			.auth-content {
				&:not(.container) {
					max-width: 350px;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.auth-wrapper {
		.card {
			.card-body {
				padding: 30px 15px;
			}
		}
	}
}





//Menu

.ant-layout-sider {
  background: #fff;
}

.ant-menu-item .ant-menu-item-selected {
  background: #eb0c00;
  color: #ffffff;
}

.ant-menu-item-active, .ant-menu-item-selected a{

  color: #ffffff !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #eb0c00;
  color: #ffff;

  .ant-menu-item {
    padding-left: 35px;
  }

  .sub-menu-row {
    color: #fff;
    // background: #fff;
  }
}

.ant-menu-item a {

  color: #eb0c00;
}

.ant-pro-sider-menu-logo h1 {
  display: inline-block;
  margin: 0 0 0 12px;
  color: #34204f;
  font-weight: 600;
  font-size: 16px;
  font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.ant-pro-sider-menu-logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}

.ant-pro-sider-menu-logo {
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #ffff;
  cursor: pointer;
  transition: all 0.3s;
}
//Button

.ant-btn-primary:hover {
  background: #34204f;
}
//Form

.ant-form-item {
  margin-bottom: 0;
}

// Text
h3.ant-typography,
.ant-typography h3 {
  font-weight: 600;
  font-size: 18px;
}

.ant-typography.ant-typography-secondary {
  font-weight: 400;
  font-size: 16px;
}

.ant-upload.ant-upload-select-picture-card {

  width: 100% !important;
  height: auto !important;
}

//
//Charts
.Charts {
  align-content: center;
}

@media only screen and (max-width: 768px) {
  .antd-pro-components-global-header-index-right {
    position: absolute;
    right: 12px;
    top: 0;
  }
}
//Header

.ant-layout-header {
  background: #eb0c00;
  padding: 0px;
}


.ant-pro-global-header-trigger {
  margin-top: 64px;
  padding: calc((64px - 26px) / 2) 24px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
  color: #fff;
}

.ant-layout {
  min-height: 100vh;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-layout-sider-trigger {
  background: #fff;
  color: #34204f;
}

.ant-select-selection,
.ant-select-selection--single,
.global-header-account-select {
  background: transparent;
}
h4.ant-typography,
.ant-typography h4 {
  margin-bottom: 0;
}
.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;

  .anticon {
    color: #fff;
  }
}

.heading-wrapper {
  background: #fff;
  padding: 20px;
}

.content-wrapper {
  background: #fff;
  padding: 20px;
  margin: 0 30px;
  overflow: 'initial';
}
.content-nofilter-wrapper {
  background: #fff;
  padding: 20px;
  margin: 30px 30px 0;
  overflow: 'initial';
}

.filter-wrapper {
  background: #fff;
  padding: 20px;
  margin: 30px 30px 0;
}

.content-empty-wrapper {
  margin: 30px 30px;
}

.menu-right {
  float: right;
  height: 100%;
  margin-right: 20px;

  .action {
    display: inline-block;
    height: 100%;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;

    > i {
      color: #fff;
      vertical-align: middle;
    }

    &:hover {
      background: transparent;
    }

    &:global(.opened) {
      background: transparent;
    }
  }

  .search {
    padding: 0 12px;

    &:hover {
      background: transparent;
    }
  }

  .account {
    .avatar {
      margin: ~'calc((100px - 24px) / 2)' 0;
      margin-right: 8px;
      color: green;
      background: rgba(255, 255, 255, 0.85);
    }
  }
}

.container > * {
  background-color: #fff;
  border-radius: 4px;
}

.ant-btn-primary {
  background: #eb0c00;
}

.ant-select-arrow {
  color: #fff;
}

@media screen and (max-width: 760) {
  .container {
    width: 100% !important;
  }

  .container > * {
    border-radius: 0 !important;
  }

  .ant-menu-item-selected > * {
    background-color: #fff;
    border-radius: 4px;
    color: #fff;
  }

  .chart-container {
    display: flex;
    align-items: center;
    min-height: 135;
  }
}

// Login

.login-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  // overflow: auto;
  justify-content: center;
  align-items: center;
}

.login-content {
  // flex: 1;
  padding: 32px 0;
  max-width: 300px;
}

@media (min-width: 1200px) {
  .login-container {
    background-image: url(../src/shared/assets/Login-Background.svg);
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }

  .login-top {
    text-align: center;
  }

  .login-header {
    height: 44px;
    line-height: 44px;

    a {
      text-decoration: none;
    }
  }

  .login-logo {
    height: 44px;
    margin-right: 16px;
    vertical-align: top;
  }

  .login-title {
    position: relative;
    top: 2px;
    color: #34204f;
    font-weight: 600;
    font-size: 33px;
    font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  .login-desc {
    margin-top: 12px;
    margin-bottom: 40px;
    color: #eb0c00;
    font-size: 20px;
  }

  .login-submit {
    width: 100%;
    margin-top: 10px;
    background: #eb0c00;
  }
  .login-form-forgot {
    float: right;
  }
}


// footer

.ant-layout-footer {
  padding: 0px 16px !important;
}

//Forgot Password

.forgot-desc {
  margin-top: 12px;
  margin-bottom: 20px;
  color: #eb0c00;
  font-size: 20px;
}

.forgot-pass-notif {
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
  font-size: 16px;
}
.forgot-pass-message {
  margin-top: 5px;
  margin-bottom: 10px;
  color: gray;
  font-size: 14px;
}

// Chart

.chartCard {
  position: relative;
  .chartTop {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .chartTopMargin {
    margin-bottom: 12px;
  }
  .chartTopHasMargin {
    margin-bottom: 20px;
  }
  .metaWrap {
    float: left;
  }
  .avatar {
    position: relative;
    top: 4px;
    float: left;
    margin-right: 20px;
    img {
      border-radius: 100%;
    }
  }
  .meta {
    height: 22px;
    color: #34204f;
    font-size: 1.4em;
    line-height: 22px;
  }
  .action {
    position: absolute;
    top: 4px;
    right: 0;
    line-height: 1;
    cursor: pointer;
  }
  .total {
    height: 38px;
    margin-top: 4px;
    margin-bottom: 0;
    overflow: hidden;
    color: #ffff;
    font-size: 30px;
    line-height: 38px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}

//Tabs

.card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: #e7e7e7;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.dashboard {
  padding: 15px;
}

.ant-tabs-nav .ant-tabs-tab-active {
  font-weight: 400;
}

.user-card {
    .cover-img-block {
        position: relative;

        .change-cover {
            position: absolute;
            top: 30px;
            left: 30px;
            z-index: 5;
            opacity: 0;
            transition: all 0.3s ease-in-out;

            .dropdown-toggle {
                color: #fff;
                background: rgba(0,0,0,0.6);
                width: 45px;
                height: 45px;
                border-radius: 50%;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:after {
                    display: none;
                }
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 1;
            background: rgba(0,0,0,0.4);
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            .change-cover,
            .overlay {
                opacity: 1;
            }
        }
    }

    .user-about-block {
        margin-top: -30px;

        img {
            box-shadow: 0 0 0 5px #fff;
        }

        .certificated-badge {
            position: absolute;
            bottom: -5px;
            right: -5px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background: #fff;
            padding: 5px 3px;

            .bg-icon {
                font-size: 22px;
            }

            .front-icon {
                font-size: 11px;
                position: absolute;
                top: 11px;
                left: 9px;
            }
        }
    }

    .hover-data {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(36, 46, 62, 0.92);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        .hover-data {
            transform: scale(1);
        }
    }

    .change-profile {
        .dropdown-toggle::after {
            display: none;
        }

        .profile-dp {
            position: relative;
            overflow: hidden;
            padding: 5px;
            width: 110px;
            height: 110px;
            border-radius: 50%;

            .overlay {
                position: absolute;
                top: 5px;
                left: 5px;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                border-radius: 50%;
                opacity: 0;
                z-index: 1;
                overflow: hidden;
                background: rgba(0,0,0,0.4);
                transition: all 0.3s ease-in-out;

                span {
                    background: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    border-top: 1px solid rgba(255, 255, 255, 0.4);
                    padding: 0 0 5px;
                }
            }

            &:hover {
                .overlay {
                    opacity: 1;
                }
            }
        }
    }
    @media only screen and (max-width: 992px) {
        .user-about-block {
            margin-top: -10px;
        }

        .wid-80 {
            width: 60px;
        }

        .change-profile .profile-dp {
            width: 90px;
            height: 90px;
        }

        &.user-card-2.shape-right .cover-img-block {
            clip-path: none;
        }

        .cover-img-block {
            .change-cover {
                .dropdown-toggle {
                    padding: 5px 7px;
                }
            }
        }
    }
}

.user-card-2 {
    .cover-img-block {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 80%);
    }

    &.shape-right {
        .cover-img-block {
            clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
        }
    }

    &.shape-center {
        .cover-img-block {
            clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
        }
    }
}

.user-card-3 {
    .certificated-badge {
        position: absolute;
        bottom: 5px;
        right: 5px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: #fff;
        padding: 5px 3px;

        .bg-icon {
            font-size: 30px;
        }

        .front-icon {
            font-size: 14px;
            position: absolute;
            top: 14px;
            left: 13px;
        }
    }

    .social-top-link {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    &.social-hover {
        .social-top-link {
            top: 20px;
            left: 20px;
            overflow: hidden;

            .btn,
            li {
                margin-left: -100px;
                transition: all 0.2s ease-in-out;
            }
        }

        &:hover {
            .social-top-link {
                .btn,
                li {
                    margin-left: 0;
                }
            }
        }
    }
}
// [ user card widget ] end
// [ user profile page ] start

.user-profile {
    margin-top: -25px;
    margin-left: -25px;
    margin-right: -25px;
    background: #fff;

    .card-body {
        position: relative;
        z-index: 1;
        box-shadow: 0 2px 4px -2px rgba(54, 80, 138, 0.3);

        .overlay {
            > span {
                cursor: pointer;
            }
        }
    }

    .cover-img-block {
        &:hover {
            > img {
                filter: grayscale(1) blur(1px);
            }
        }
    }

    .profile-dp {
        .overlay {
            text-align: left;
        }
    }

    .user-about-block .certificated-badge {
        bottom: 8px;
        right: 0;
        z-index: 2;
    }

    .profile-tabs {
        border-bottom: 0;
        margin-top: 30px;

        .nav-item {
            margin-bottom: -0px;

            .nav-link {
                position: relative;

                &:after {
                    content: "";
                    background: #ff0000;
                    position: absolute;
                    transition: all 0.3s ease-in-out;
                    left: 50%;
                    right: 50%;
                    bottom: -1px;
                    height: 2px;
                    border-radius: 2px 2px 0 0;
                }
            }
        }

        .nav-link:hover {
            border-color: transparent;
        }

        .nav-item.show .nav-link,
        .nav-link.active {
            border-color: transparent;

            &:after {
                left: 0;
                right: 0;
            }
        }
    }
    @media only screen and (max-width: 575px) {
        margin-top: -30px;
        margin-left: -15px;
        margin-right: -15px;
    }
}
// [ user profile page ] end
// [ user list page ] start

.user-profile-list {
    table {
        border-spacing: 0 10px;
        width: calc(100% - 10px);
        margin: 0 5px;

        tbody {
            tr {
                box-shadow: none;
                border-radius: 5px;
                position: relative;

                .overlay-edit {
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: 0;
                    background: @primary-color;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .btn {
                        border-radius: 50%;
                        margin: 0 3px;
                        width: 35px;
                        height: 35px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &:hover {
                    box-shadow: 0 0 6px 0 @primary-color;

                    td {
                        cursor: pointer;
                        color: #fff;
                        background: @primary-color;

                        h6 {
                            color: #fff;
                        }

                        .overlay-edit {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        tr {
            td,
            th {
                vertical-align: middle;
                border: none;
            }

            td {
                background: #fff;
                position: relative;

                &:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                &:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }
}
